.summer {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .summer .overlap-wrapper {
    background-color: #ffffff;
    height: 1080px;
    overflow: hidden;
    width: 1920px;
  }
  
  .summer .overlap {
    height: 1120px;
    position: relative;
    width: 1992px;
  }
  
  .summer .img {
    height: 1080px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .summer .rectangle {
    height: 208px;
    left: 127px;
    position: absolute;
    top: 227px;
    width: 508px;
  }
  
  .summer .div {
    background-color: #000000bf;
    height: 767px;
    left: 960px;
    position: absolute;
    top: 227px;
    width: 815px;
  }
  
  .summer .tabs {
    height: 265px;
    left: 131px;
    position: absolute;
    top: 729px;
    width: 247px;
  }
  
  .summer .line {
    height: 253px;
    left: -10px;
    position: absolute;
    top: 4px;
    width: 10px;
  }
  
  .summer .overlap-group {
    height: 59px;
    left: 15px;
    position: absolute;
    top: 0;
    width: 223px;
  }
  
  .summer .mframe {
    background-color: #000000bf;
    height: 55px;
    left: 3px;
    position: absolute;
    top: 4px;
    width: 220px;
  }
  
  .summer .text-wrapper {
    color: #ffffff;
    font-family: "Arsenal-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 223px;
  }
  
  .summer .overlap-group-2 {
    height: 59px;
    left: 15px;
    position: absolute;
    top: 103px;
    width: 223px;
  }
  
  .summer .wframe {
    background-color: #000000bf;
    height: 55px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 220px;
  }
  
  .summer .overlap-2 {
    height: 63px;
    left: 18px;
    position: absolute;
    top: 202px;
    width: 223px;
  }
  
  .summer .sframe {
    background-color: #000000bf;
    height: 55px;
    left: 0;
    position: absolute;
    top: 0;
    width: 220px;
  }
  
  .summer .text-wrapper-2 {
    color: #ffffff;
    font-family: "Arsenal-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 223px;
  }
  
  .summer .rectangle-2 {
    background-color: #474032;
    border-radius: 27px;
    height: 81px;
    left: 1775px;
    position: absolute;
    top: 1039px;
    width: 217px;
  }
  
  .summer .text-wrapper-3 {
    color: #ffffff;
    font-family: "Arsenal-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 80px;
    left: 1751px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1018px;
    width: 213px;
  }
  