.rings {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .rings .overlap-group-wrapper {
    background-color: #ffffff;
    height: 1080px;
    width: 1920px;
  }
  
  .rings .overlap-group {
    background-image: url(./rectangle-6.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1080px;
    position: relative;
  }
  
  .rings .img {
    height: 1080px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .rings .rectangle {
    background-color: #060a0e;
    height: 56px;
    left: 1859px;
    position: absolute;
    top: 511px;
    width: 54px;
  }
  
  .rings .name {
    height: 320px;
    left: 115px;
    position: absolute;
    top: 407px;
    width: 564px;
  }
  
  .rings .line {
    height: 320px;
    left: -10px;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    width: 10px;
  }
  
  .rings .frame {
    background-color: #242020bf;
    height: 55px;
    left: 43px;
    position: absolute;
    top: 32px;
    width: 521px;
  }
  
  .rings .div {
    background-color: #242020bf;
    height: 55px;
    left: 43px;
    position: absolute;
    top: 131px;
    width: 521px;
  }
  
  .rings .text-wrapper {
    color: #ffffff;
    font-family: "Arsenal-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    height: 53px;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 520px;
  }
  
  .rings .frame-2 {
    background-color: #242020bf;
    height: 55px;
    left: 43px;
    position: absolute;
    top: 250px;
    width: 521px;
  }
  
  .rings .name-2 {
    height: 320px;
    left: 757px;
    position: absolute;
    top: 596px;
    width: 564px;
  }
  
  .rings .text-wrapper-2 {
    color: #ffffff;
    font-family: "Arsenal-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    height: 55px;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 520px;
  }
  
  .rings .text-wrapper-3 {
    color: #ffffff;
    font-family: "Arsenal-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    height: 58px;
    left: 158px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 435px;
    width: 521px;
  }
  
  .rings .text-wrapper-4 {
    color: #ffffff;
    font-family: "Arsenal-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    height: 56px;
    left: 158px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 655px;
    width: 521px;
  }
  
  .rings .text-wrapper-5 {
    color: #ffffff;
    font-family: "Arsenal-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    height: 56px;
    left: 800px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 725px;
    width: 521px;
  }
  
  .rings .text-wrapper-6 {
    color: #ffffff;
    font-family: "Arsenal-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    height: 57px;
    left: 797px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 843px;
    width: 524px;
  }
  